//usar variables para la letra y la de los colores

@use "../utilites/variables";

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  border-bottom: 5px solid $color-background-secundario;
}

.header-izquierda {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 20px;
}

header img {
  width: 250px;
  height: auto;
}

.header-logo {
  display: flex;
  align-items: right;
  padding: 10px 20px 15px 5px;
}