@use "../utilites/variables";

%boton-base {
    display: block;
    padding: 14px 20px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

%titulo {
  font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: variables.$color-text;
}

%parrafo {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
}