
/* font-family: "Montserrat", sans-serif; */
/* font-family: "Lato", sans-serif; */
/* Global Styles */
/* Colors: Narvik (#EAE7DD), Sorrell brown (#99775C)*/

$color-background: #B8C4D1;
$color-background-secundario: #475569;
$color-text: #1E293B;
$color-button: #475569;
$color-border: #94A3B8;
$color-cards: #64748B;

%titulo {
  font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: $color-text;
}

%parrafo {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
}

/* 

#B8C4D1 Fondo principal

#334155 Headers, navbar

#1E293B Texto principal

#3B82F6 Botones principales, enlaces, detalles

#475569 Botones secundarios

#94A3B8 Bordes, líneas

#64748B Tarjetas

*/

