@use "../utilites/variables";

//pcambiar en variables los colores y poner $background-color: #D1BB91; y $text-color: #111; y $background de botones, cards etc: #99775C


* {
  margin: 0;
  padding: 0;
}


body {
  @extend %parrafo;
  background: variables.$color-background !important;
}


.bienvenido {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

section {
  margin-bottom: 40px;
  padding: 10px 20px 15px 5px;
}

p {
  @extend %parrafo;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.6;
  max-width: 600px;
  padding: 10px 20px 15px 5px;
  margin-left: 20px;
}


@media (min-width: 600px) {
  .cambio-a-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "header" "main" "foote ";
  }
}
@media (min-width: 1024px) {
  .cambio-a-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header" "main main" "footer footer";
  }
  .cambio-a-grid main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 600px) {
    .cotizacion {
        width: 80%;
        padding: 30px;
        h2 {
            font-size: 2.3rem;
        }
        p {
            font-size: 1.1rem;
        }
    }
}  

@media (min-width: 1024px) {
    .cotizacion {
      width: 70%;
      padding: 40px;
      h2 {
        font-size: 2.5rem;
      }
      form {
        gap: 10px;
      }
      input,
      select,
      textarea {
        font-size: 1.05rem;
      }
      .boton-whatsapp {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
  }
}