@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

//poner toda la tipografia del css y ponerlo en este archivo, hacer varias variables o mixins para titulos, parrafos y botones y luego llamarlas en los demas archivos scss, para que sea mas facil de mantener y cambiar la tipografia en un solo lugar.
// font-family-titulos: "Montserrat", sans-serif;  font-family-todo-lo-demas", sans-serif; 


@use "../utilites/variables";

.tituloprincipal{
  @extend %titulo;
  font-size: 2.5rem;
  font-weight: 700;
  padding-left: 20px;
  margin: 0px;
  display: flex;
}

.subtitulo{
  @extend %titulo;
  font-size: 2rem;
  font-weight: 700;
  padding: 10px 20px 15px 25px;
}

.subtituloh3{
  @extend %titulo;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 20px 15px 25px;
}
.subtituloh4{
  @extend %titulo;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px 20px 15px 25px;
}

