//hacer mixins o extend (ver cual para los botones, seguramente sea un extend) para los botones

@use "../utilites/variables";

button {
  width: 9rem;
  padding: 0.8rem 2rem;
  font-size: 1.8rem;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: variables.$color-background-secundario;
  color: variables.$color-text;
  border-radius: 8px;
}