@use "../utilites/variables";

//hacer mixins o extend (ver cual para los botones, seguramente sea un extend) para los botones


button {
  width: 9rem;
  padding: 0.8rem 2rem;
  font-size: 1.8rem;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: variables.$color-background-secundario;
  color: variables.$color-text;
  border-radius: 8px;
}

.boton-whatsapp {
    display: block;
    margin-top: 20px;
    padding: 14px 20px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    background-color: #25D366;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    transition: 0.3s;
}

.boton-whatsapp:hover {
    background-color: #1ebe5d;
}

.button-contacto {
    display: block;
    margin-top: 20px;
    padding: 14px 20px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    background-color: variables.$color-button;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    transition: 0.3s;
}